/* CSS by Eduardo Diez Blanco */
body {

  background-image: url("ironmaiden.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  background-color: black;
}
#centrar {
   position: absolute;
   left: 50%;
   margin-left: -300px;
   top: 40%;
   margin-top: -300px;
   width: 300;
   font-size: 200%;
   font-style: italic;;
   color: purple;
}
.encabezados {
  margin: 0px;
 padding: 10px; /* Relleno */
 border:solid;
 border-color: purple;
 text-align: center;
 font-style:italic;
 color:purple;
}
p {
  color: red;
  font-size: 200%;
}
ul {
  text-align: center;
  list-style: none;
  font-size: 125%;
  color:red;
}
